.click-button {
	background-repeat: no-repeat;
	background-size: 150px 150px;
	background-image: url("img/caco.gif");
	width: 150px;
	height: 150px;
	transition: 0.2s;
	overflow: visible;
}

.click-button:active {
	background-image: url("img/pog1.png");
    width: 180px;
    height: 150px;
}

.buy-button{
	background-color: #69d173; 
	height: 60px; 
	cursor: default; 
	font-size: 2em
}

.upgrade-button{
	background-color: #69d173; 
	height: 60px; 
	cursor: default; 
	font-size: 1.7em
}
.disable{
	background-color: #db3939; 
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}